* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

header{
	width: 100%;
	height: 60px;
	font-family: sans-serif;
	display: flex;
	position: relative;
	background-image: linear-gradient(#212529, #4f4f4f);
}

nav{
	display: block;
	width: 100%;
	height: auto;
}

.item{
	text-decoration: none;
	color: #ffffff;
	/*line-height: 1.6;*/
	padding: 9px;
	border-radius: 5px;
}

.item:hover{
	background-color: #a1a1a1a1;
	transition: .5s;
	overflow: hidden;
}

/*items del nav*/

nav ul{
	width: auto;
	display: flex;
	float: right;
	margin: auto;
	padding: 6px 0;
	list-style: none;
}

nav ul li{
	margin: 10px;
	padding: 3px;
}

/*sub-items del menu actividades*/
#actividades{
	position: relative; /*nos aseguramos que pueda desplegarse fuera de los bordes del padre*/
	padding-left: 0;/*los li deben estar pegados a la izquierda para poder centra los a*/
	width: 100%;
	display: none; 
	background-color: #212529;

}


#actividades li{
	padding: 0;
	margin: 0;
}

#actividades li a{
	display: block;
	position: relative;
	padding: 6px 0;
	width: 100%;
	text-align: center;
	border-radius: 0;
}


#contenedorActividades:hover #actividades{
	display: inline-block; 
}


/*logo*/
#contenedorLogo{
	height: 100%;
	margin-left: 1%;
}

#contenedorLogo svg{
	width: 100%;
	height: 100%;
	fill: #ffffff;
}

#nombreGimnacio{
	font-family: sans-serif;
	width: 100%;
	text-align: center;

}

#imagenCabecera img{
	width: 100%;
	height: 30em;
	object-fit: cover;
	object-position: 30% 80%;
}

#contenedorHaburguesa{
	display: none;
}

#linkHaburguesa{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;/*evita que otros elementos se superpongan sobre el link y no nos dejen hacer click*/
}


#linkHaburguesa:hover{
	background-color: #a1a1a1a1;
}

/*responsive*/
@media (max-width: 700px){
	nav{
		display: none;
	}

	nav ul{
		position: absolute;
		display: block;
		top: 100%;
		width: 100vh;/*el elemento toma todo el ancho de la pantalla*/
		background-color: #212529;

	}

	#actividades{
		position: relative;
	}

	#contenedorHaburguesa{
		position: absolute;
		height: 100%;
		width: 20%;
		display: block;
	}


	#linkHaburguesa svg{
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}


	#contenedorLogo{
		/*centramos el logo*/
		position: absolute;
		left: 50%;
		transform: translate(-50%);
	}

}

